body { background-color: #000000;
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
}
header { background-color: #000000;
	color: #fff;
	font-family: Courier, Courier New, serif;
	font-size: 48px;
}
h1 { 	line-height: 150%;
	color: #fff;
	font-family: Courier, Courier New, serif;
	font-size: 36px;
}
h2 { 	line-height: 130%;
	color: #fff;
	font-family: Courier, Courier New, serif;
	font-size: 24px;
}
h3 { 	line-height: 120%;
	color: #fff;
	font-family: Courier, Courier New, serif;
	font-size: 18px;
}
h4 { 	line-height: 110%;
	color: #fff;
	font-family: Courier, Courier New, serif;
	font-size: 12px;
}
nav { font-weight: bold; 
}
.category { font-weight: bold;
	background-color: #000000;
	color: #003366;
	font-size: 1.1em;
}
footer { 
	font-size: 0.70em;
	color: #FFFFFF;
	font-style: italic;
}
#wrapper { width: 80%;
	margin-right: auto;
	margin-left: auto;
}
