body { background-color: #000000;
      color: #FFFFFF;
	  font-family: Verdana, Arial, sans-serif;
}
header { background-color: #000000;
       color: #FFFFFF;
	font-size: large;
	   font-family: Courier, Courier New, serif;
}
h1 { line-height: 200%;
}
nav { font-weight: bold; 
}
.category { font-weight: bold;
            background-color: #000000;
			color: #003366;
			font-size: 1.1em;
}
footer { font-size: 0.70em;
	color: #FFFFFF;
       font-style: italic;
}
#wrapper { width: 80%;
          margin-right: auto;
		  margin-left: auto;
}
